<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Chart with Flask and amCharts 5</title>

    <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/percent.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/map.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/geodata/worldLow.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/geodata/usaLow.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/core.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/charts.js"></script>

    <script src="/static/Stacked_Bar.js"></script>

    <script src="/static/Pie_Chart.js"></script>

    <script src="/static/Donut_Chart.js"></script>
    
    <script src="/static/Heat_map.js"></script>
    

    
    <script src="/static/Bar_Chart.js"></script>

    <script src="/static/Bar1_Chart.js"></script>

    <script src="/static/Scatter_Chart.js"></script>
    <script src="/static/Scatter1_Chart.js"></script>

    <link rel="stylesheet" href="/static/style.css" />
  </head>


  <body>
    <h1 style="text-align: center;">Multinational Global Super Store</h1>
    <h2 style="text-align: center;">Sales by Region</h2>
    
    <div class="container">
      <div id="Pie_chartdiv"></div>
      <div id="chartdiv"></div>
      <div id="Donut_chartdiv"></div>


    </div>
    <div class="container1">
      <div id="Bar_chartdiv"></div>
      <div id="Heat_chartdiv"></div>
      <div id="Bar1_chartdiv"></div>



    </div>

  </body>
</html>
